#menu {
	text-align: right;
	position: fixed;
	right: 20px;
	bottom: 10px;

	z-index:100;
	opacity: 0.8;
}

#msg {
	color: green;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	z-index:200;
}

#keyboard{
	z-index:200;
	position: fixed;
//	float: left;
//	top: 70%;
//	left: 50%;
}

form{
	display:none;
}

.divGrid {
	width: 100%;
	height: 100%;
}

.divImg {
	float: left;
	border: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 3px solid transparent;
	width: 130px;
	height: 130px;
}

.divImg:hover {
	color: green;
	border-radius: 10px;
	box-shadow: 0px 0px 16px green;
}

.img {
	float:left;
	width: 130px;
	height: 130px;
	border-radius: 7px;
}

.divStatus{
	pointer-events: none; // Evitando que o DivStatus pegue o click
	width: 130px;
	height: 30px;

	top: 100px;
	position: relative;
}

.outOfThisRoom{
	display:  none;
}

.status0{
	display: inline;
}

.status1{
	display: inline;
	border-color: green;
	border-radius: 10px;
}

.status2{
	display: inline;
	border-color: green;
	border-radius: 10px;
}

.status3{
	display: inline;
	border-color: green;
	border-radius: 10px;
}

.status0>.img{
	opacity: 0.3;
}

.status1>.img{
	opacity: 1;
}

.status2>.img{
	opacity: 1;
}

.status0>.divStatus{
	opacity: 0.8;
//	background: url("img/status0.png");
//	border: solid 1px red;
}

.status1>.divStatus{
//	background: url("img/status1.png");
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.8;
//	border: solid 1px green;
}

.status2>.divStatus{
	background: url("img/status2.png");
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.8;
}

.status3>.divStatus{
	background: url("img/status3.png");
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.8;
}
